.coder-card {
    opacity: 0;
    transform: translateY(20px);
}

.coder-card.show {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.coder-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

#mouse-follower {
    transition: left 0.1s ease, top 0.1s ease;
}
